
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

.container {
    overflow: hidden;
    border-radius: 10px;
}

.image-zoom {
    width: 100%;
    height: 75%;
    overflow: hidden;
    position: relative;
}

.image-zoom img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    cursor: zoom-in;
}

.image-zoom img:hover {
    transform: scale(1.1);
    cursor: zoom-out;
}

.bg-hero-00 {
    background-color: rgb(240, 244, 247);
}

.bg-img-09787 {
    background-image: url(../img/bg_page.webp);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.pic-heade {
    margin-right: 0; /* Removed margin-right to center the image on smaller screens */
}








.par-098{
    margin-left: 240px;
    line-height: 2;
}
